<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<style>
    
</style>

<body>
<div id="app">
    <el-button @click="createCompetition=true">创建比赛</el-button>
    <el-table :data="createData" border style="width: 100%">
      <el-table-column label="比赛名称" prop="nameM"></el-table-column>
      <el-table-column label="比赛类别" prop="matchTypeM"></el-table-column>
      <el-table-column label="报名开始时间" prop="startDateM"></el-table-column>
      <el-table-column label="报名结束时间" prop="endDateM"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
            <!--<el-button size="mini" @click="edit(scope.$index,createData)" type="primary" icon="el-icon-edit">编辑</el-button>-->
          <el-popover placement="top" width="160" v-model="scope.row.remove">
            <p>您确定删除已保存的比赛信息吗？</p>
            <div style="text-align: right; margin: 0">
              <el-button size="mini" type="text" @click="scope.row.remove=false">取消</el-button>
              <el-button type="primary" size="mini" @click.native.prevent="deleteRow(scope.$index, createData)">确定</el-button>
            </div>
            <el-button slot="reference" size="mini" type="danger" icon="el-icon-delete">删除</el-button>
          </el-popover>
          <!--<el-popover placement="top" width="160" v-model="scope.row.remove">
              <p>您确定发布该比赛吗？</p>
              <div style="text-align: right; margin: 0">
                <el-button size="mini" type="text" @click="scope.row.remove=false">取消</el-button>
                <el-button type="primary" size="mini" @click.native.prevent="deleteRow(scope.$index, createData)">确定</el-button>
              </div>
              <el-button slot="reference" size="mini" type="success" icon="el-icon-upload2">发布</el-button>
            </el-popover>-->
        </template>
      </el-table-column>
    </el-table>

    <!--表单-->
    <el-dialog title="创建比赛" :visible.sync="createCompetition">
      <el-form :model="createCompetitionForm" ref="createCompetitionForm" :rules="createRules" label-width="120px">
        <el-form-item label="比赛类别" prop="matchType">
          <el-radio-group v-model="createCompetitionForm.matchType">
            <el-radio label="创意大赛">创意大赛</el-radio>
            <el-radio label="创新大赛">创新大赛</el-radio>
            <el-radio label="创业大赛">创业大赛</el-radio>
          </el-radio-group>
        </el-form-item>

        <el-form-item label="比赛名称" prop="name">
          <el-input v-model="createCompetitionForm.name"></el-input>
        </el-form-item>

        <el-form-item label="开始时间" prop="startDate">
          <el-date-picker type="datetime" v-model="createCompetitionForm.startDate" placeholder="选择比赛开始时间" value-format="yyyy-MM-dd HH:mm:SS" format="yyyy-MM-dd HH:mm:SS"></el-date-picker>
        </el-form-item>

        <el-form-item label="结束时间" prop="endDate">
          <el-date-picker type="datetime" v-model="createCompetitionForm.endDate" placeholder="选择比赛结束时间" value-format="yyyy-MM-dd HH:mm:SS" format="yyyy-MM-dd HH:mm:SS"></el-date-picker>
        </el-form-item>
      
        <el-form-item label="比赛简介" prop="introduction">
          <el-input v-model="createCompetitionForm.introduction" type="textarea" :autosize="{minRows: 5,maxRows: 8}" placeholder="请在此处输入比赛内容简介"></el-input>
        </el-form-item>
        
        <el-form-item label="文件上传" prop="matchFile">
          <el-upload ref="upload" action="https://jsonplaceholder.typicode.com/posts/" 
            :on-preview="handlePreview" 
            :on-remove="handleRemove" 
            :auto-upload="false" 
            :show-file-list="true"
            :limit=3
            :file-list="fileList"
            :before-upload="beforeUpload">
            <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
            <el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">上传到服务器</el-button>
          </el-upload>
        </el-form-item>

        <center>
          <el-form-item>
            <el-button type="primary" @click="submitForm('createCompetitionForm')">立即创建</el-button>
            <el-button @click="createCompetition = false">取消</el-button>
            <el-button @click="resetForm('createCompetitionForm')">重置</el-button>
          </el-form-item>
        </center>
      </el-form>
    </el-dialog>
</div>
</body>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
new Vue({
    el: '#app',
    data: function() {
    return { 
      visible: false,
      createCompetition: false,
      createCompetitionForm:{
        matchType:'',
        name:'',
        introduction:'',
        startDate:'',
        endDate:'',
        value:'',
      },
      createData:[],
      fileList:[],

      createRules:{
        matchType:[
          {required:true, message:'请选择比赛类别',trigger:'change'}
        ],
        name:[
          {required:true, message:'比赛名称不能为空！',trigger:'blur'}
        ],
        startDate:[
          {required:true, type:'string',message:'请选择比赛开始时间！',trigger:'change'}
        ],
        endDate:[
          {required:true, type:'string',message:'请选择比赛结束时间！',trigger:'change'}
        ],
        introduction:[
          {required:true, message:'请填写比赛简介的信息！',trigger:'blur'}
        ]
      }
    };
    },
    methods:{
      deleteRow(index, rows) {
        rows.splice(index, 1);
      },
      /*edit(index,row){
        this.createCompetition=true;
        alert(row[index].endDate);
      },*/
      submitForm(formName) {
        let self=this;
        this.$refs[formName].validate((valid) => {
          if (valid) {
            var a={nameM:self.createCompetitionForm.name, matchTypeM:self.createCompetitionForm.matchType, startDateM:self.createCompetitionForm.startDate, endDateM:self.createCompetitionForm.endDate, introductionM:self.createRules.introduction, remove: false};
            self.createData.push(a);
            this.createCompetition=false;
            this.$refs[formName].resetFields();
            self.$message({
              message:'比赛创建成功！',
              type:'success'
            });
          } else {
            alert('创建失败，请检查是否有漏填信息！');
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      },
      handleRemove(file, fileList) {
        console.log(file, fileList);
      },
      handlePreview(file) {
        console.log(file);
      },
      submitUpload() {
        this.$refs.upload.submit();
      },
      beforeUpload(file) { 				
				var testmsg=file.name.substring(file.name.lastIndexOf('.')+1)				
				const extension = testmsg === 'xls'
				const extension2 = testmsg === 'xlsx'
        const extension3 = testmsg === 'pdf'
				const isLt2M = file.size / 1024 / 1024 < 10     //这里做文件大小限制
				if(!extension && !extension2 && !extension3) {
					this.$message({
						message: '上传文件只能是 xls、xlsx、pdf格式!',
						type: 'warning'
					});
				}
				if(!isLt2M) {
					this.$message({
						message: '上传文件大小不能超过 10MB!',
						type: 'warning'
					});
				}
				return extension || extension2 && isLt2M
		}
  },
})
</script>
</html>