<!-- import CSS -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- import JQuery -->
<script src="https://cdn.staticfile.org/jquery/3.1.1/jquery.min.js"></script>

<div id="download">
<button @click="download">
下载
</button>

<img id="img" />
</div>

<script>
	new Vue({
    el: '#download',
    data: function(){
		return { 
			info: {"url":"/var/ftp/pub/data/work/g2n--G2DLTAuaYDxxvVOcprH.jpg;/var/ftp/pub/data/work/l-Le82ZggCPLPIxJDpsVjm8f.jpeg;/var/ftp/pub/data/work/WiXaufnf6Ek1PE0fwHaNkkZB.docx;/var/ftp/pub/data/work/2IjkwJi5-7sJeKZ-Z55BFaEh.docx",},
		}
    },
	methods: {
		download: function(){
			const xhr = new XMLHttpRequest();
			xhr.responseType = "arraybuffer";
			var data = JSON.stringify(this.info);
			console.log(data);
			xhr.open("GET", "http://58.87.72.138:30000/download?info=" + JSON.stringify(this.info),true);
			
			xhr.onload = function(oEvent){
				console.log("Blobing");
				let res = xhr.response;
				console.log(res);
				var blob = new Blob([res],{type:"application/x-gzip"});
  				console.log(blob);
  				var str = URL.createObjectURL(blob);
				window.open(str);
			};
			xhr.send();
		}
	}
  })
</script>
