<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- import CSS -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="../css/login.css">
		<!-- import Vue before Element -->
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<!-- import         JavaScript -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<!-- import JQuery -->
		<script src="https://cdn.staticfile.org/jquery/3.1.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="login" id="login">
			<el-card class="box-card">
				<h2 style="color: black">统一身份认证中心</h2>
				<el-radio-group v-model="role" size="medium" @change="currRole">
					<el-radio-button label="学生"></el-radio-button>
					<el-radio-button label="专家"></el-radio-button>
					<el-radio-button label="团委"></el-radio-button>
				</el-radio-group>
				<div v-if="role=='学生'">
					<el-form label-width="20%" :model="info" style="margin-top: 20%">
						<el-form-item label="学号">
							<el-input placeholder="请输入学号" v-model="info.studentNumber" :disabled="false" style="width: 100%">
							<i slot="prefix" class="el-input__icon el-icon-user-solid"></i>
						</el-form-item>
						<el-form-item label="密码">
							<el-input placeholder="请输入密码" v-model="info.password" :disabled="false" show-password style="width: 100%">
							<i slot="prefix" class="el-input__icon el-icon-s-home"></i>
						</el-form-item>
						<el-form-item>
							<el-button type="primary" @click="studentLogin">登录</el-button>
							<el-button type="primary" @click="register">注册</el-button>
						</el-form-item>
					</el-form>
				</div>
				<div v-else-if="role=='专家'">
					<el-form label-width="20%" :model="info" style="margin-top: 20%">
						<el-form-item label="邮箱">
							<el-input placeholder="请输入邮箱" v-model="info.email" :disabled="false" style="width: 100%">
							<i slot="prefix" class="el-input__icon el-icon-user-solid"></i>
						</el-form-item>
						<el-form-item label="密码">
							<el-input placeholder="请输入密码" v-model="info.password" :disabled="false" show-password style="width: 100%">
							<i slot="prefix" class="el-input__icon el-icon-s-home"></i>
						</el-form-item>
						<el-form-item>
							<el-button type="primary" @click="expertLogin">登录</el-button>
							<el-button type="primary" @click="register">注册</el-button>
						</el-form-item>
					</el-form>
				</div>
				<div v-else-if="role=='团委'">
					<el-form label-width="20%" :model="info" style="margin-top: 20%">
						<el-form-item label="用户名">
							<el-input placeholder="请输入用户名" v-model="info.username" :disabled="false" style="width: 100%">
							<i slot="prefix" class="el-input__icon el-icon-user-solid"></i>
						</el-form-item>
						<el-form-item label="密码">
							<el-input placeholder="请输入密码" v-model="info.password" :disabled="false" show-password style="width: 100%">
							<i slot="prefix" class="el-input__icon el-icon-s-home"></i>
						</el-form-item>
						<el-form-item>
							<el-button type="primary" @click="twLogin">登录</el-button>
							<el-button type="primary" @click="register">注册</el-button>
						</el-form-item>
					</el-form>
				</div>
			</el-card>
		</div>
	</body>
	<script>
		new Vue({
			el: '#login',
			data: function() {
				return {
					info: {
						password: '',
						studentNumber: '',
						email: '',
						username: ''
					},
					role:'学生'
				}
			},
			methods: {
				currRole(selVal){
					this.role = selVal;
					sessionStorage.setItem('role', this.role);
				},
				register(){
					window.location.href = 'register.html';
				},
				studentLogin(){
					var _self = this;
					$.ajax({
						url: "http://58.87.72.138:30000/studentLogin",
						type: 'get',
						dataType: 'json',
						contentType:"application/json",
						data: { info: JSON.stringify(_self.info) },
						success: res => {
							if(res.err == false){
								sessionStorage.setItem('role', _self.role);
								sessionStorage.setItem('studentNumber',res.data.studentNumber);
								sessionStorage.setItem('username',res.data.username);
								sessionStorage.setItem('name',res.data.name);
								sessionStorage.setItem('introduction',res.data.introduction);
								sessionStorage.setItem('profileUrl',res.data.profileUrl);
								sessionStorage.setItem('phone',res.data.phone);
								sessionStorage.setItem('email',res.data.email);
								sessionStorage.setItem('department',res.data.department);
								sessionStorage.setItem('major',res.data.major);
								sessionStorage.setItem('enrollmentYear',res.data.enrollmentYear);
								_self.$message({
									message: 'Hi	' + res.data.username,
									type: 'success',
									center: true
								});
								setTimeout(() => { window.location.href = 'main.html'; }, 1000);
							} else {
								_self.$message({
									message: '用户名或密码错误',
									type: 'error',
									center: true
								});
							}
						},
						error: err =>  console.log(err)
					});
				},
				expertLogin(){
					var _self = this;
					$.ajax({
						url: "http://58.87.72.138:30000/expertLogin",
						type: "get",
						dataType: 'json',
						contentType:"application/json",
						data: { info: JSON.stringify(_self.info) },
						success: res => {
							if(res.err == false){
								sessionStorage.setItem('role', _self.role);
								sessionStorage.setItem('username',res.data.username);
								sessionStorage.setItem('name',res.data.name);
								sessionStorage.setItem('introduction',res.data.introduction);
								sessionStorage.setItem('profileUrl',res.data.profileUrl);
								sessionStorage.setItem('phone',res.data.phone);
								sessionStorage.setItem('email',res.data.email);
								sessionStorage.setItem('category',res.data.category);
								_self.$message({
									message: 'Hi	' + res.data.username,
									type: 'success',
									center: true
								});
								setTimeout(() => { window.location.href = "main.html"; }, 1000);
							} else{
								_self.$message({
									message: '用户名或密码错误',
									type: 'error',
									center: true
								});
							}
						},
						error: err => console.log(err)
					});
				},
				twLogin(){
					var _self = this;
					$.ajax({
						url: "http://58.87.72.138:30000/twLogin",
						type: "get",
						dataType: 'json',
						contentType:"application/json",
						data: { info: JSON.stringify(_self.info) },
						success: res => {
							if(res.err == false){
								sessionStorage.setItem('username',res.data.username);
								sessionStorage.setItem('role', _self.role);
								_self.$message({
									message: 'Hi	' + res.data.username,
									type: 'success',
									center: true
								});
								setTimeout(() => { window.location.href="main.html"; }, 1000);
							} else {
								_self.$message({
									message: '用户名或密码错误',
									type: 'error',
									center: true
								});
							}
						},
						error: err => console.log(err)
					});
				},
			}
		});
	</script>
</html>