<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- import JQuery -->
    <script src="https://cdn.staticfile.org/jquery/3.1.1/jquery.min.js"></script>

</head>
<style>
    .el-header, .el-footer {
        background-color: #FFFFFF;
        color: #333;
        text-align: center;
        line-height: 60px;
    }
    .el-aside {
        background-color: #D3DCE6;
        color: #333;
        text-align: center;
        line-height: 200px;
    }
    .el-container.el-main {
        background-color: #E9EEF3;
        color: #333;
        text-align: center;
        line-height: 160px;
    }
    body > .el-container {
        margin-bottom: 40px;
    }
    .el-container:nth-child(5) .el-aside,
    .el-container:nth-child(6) .el-aside {
        line-height: 260px;
    }
    .el-container:nth-child(7) .el-aside {
        line-height: 320px;
    }
    .text {
        font-size: 18px;
    }
    .item {
        margin-bottom: 18px;
    }
    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }
    .clearfix:after {
        clear: both
    }
    .matchName {
        font-size: 20px;
        line-height: 1.5;
        font-family:"微软雅黑";
        font-weight: 700;
    }
    .el-button {
        font-size: 15px;
    }
    .el-row {
        margin-top: 40px;
    }
</style>

<body>
<div id="main">
    <el-container style="height: 100%; border: 1px solid #eee">
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)" v-if="role=='学生'">
            <el-menu >
                <el-menu
                        default-active="1"
                        class="el-menu-vertical-demo"
                        @select="stuSetSidebarIndex">

                    <el-menu-item index="1">
                        <i class="el-icon-menu"></i>
                        <span slot="title">查看比赛</span>
                    </el-menu-item>
                    <el-menu-item index="2">
                        <i class="el-icon-document"></i>
                        <span slot="title">查看已提交申请</span>
                    </el-menu-item>
                    <el-menu-item index="3">
                        <i class="el-icon-setting"></i>
                        <span slot="title">修改个人信息</span>
                    </el-menu-item>
                </el-menu>
        </el-aside>
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)" v-else-if="role=='团委'">

                <el-menu
                        default-active="1"
                        class="el-menu-vertical-demo"
                        @select="twSetSidebarIndex">

                    <el-menu-item index="1">
                        <i class="el-icon-menu"></i>
                        <span slot="title">比赛管理</span>
                    </el-menu-item>
                    <el-menu-item index="3">
                        <i class="el-icon-setting"></i>
                        <span slot="title">申请管理</span>
                    </el-menu-item>
                    <el-menu-item index="4">
                        <i class="el-icon-setting"></i>
                        <span slot="title">专家管理</span>
                    </el-menu-item>
                </el-menu>
        </el-aside>
        <!-- 用户侧边栏 -->
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)" v-else >
                <el-menu
                        default-active="1"
                        class="el-menu-vertical-demo"
                        @select="expertSetSidebarIndex">

                    <el-menu-item index="1" >
                        <i class="el-icon-menu"></i>
                        <span slot="title">查看比赛</span>
                    </el-menu-item>
                    <el-menu-item index="2" >
                        <i class="el-icon-document"></i>
                        <span slot="title">评审作品</span>
                    </el-menu-item>
                    <el-menu-item index="3" >
                        <i class="el-icon-setting"></i>
                        <span slot="title">修改个人信息</span>
                    </el-menu-item>
                </el-menu>
        </el-aside>

        <!-- header -->
        <el-container>
            <el-header style="text-align: right; font-size: 10%;padding-top: 10px" >
                <el-avatar size="large"> {{userInfo.username}} </el-avatar>
            </el-header>


            <!-- 专家修改个人信息 -->
            <el-main v-if="sidebarIndex==3 && role=='专家'">
                    <el-row :gutter="12" style="margin-top: 10px">
                        <el-col :offset="6" :span="12">
                    <el-form label-width="100px" >
                        <el-form-item label="用户名">
                            <el-input v-model="userInfo.username"></el-input>
                        </el-form-item>
                        <el-form-item label="真实姓名">
                            <el-input v-model="userInfo.name"></el-input>
                        </el-form-item>
                        <el-form-item label="个人信息">
                            <el-input type="textarea" v-model="userInfo.introduction"></el-input>
                        </el-form-item>
                        <el-form-item label="电话">
                            <el-input type="number" v-model="userInfo.phone"></el-input>
                        </el-form-item>
                        <el-form-item label="关注作品类别">
                            <el-select v-model="userInfo.category">
                                <el-option value="A" label="A.机械与控制（包括机械、仪器仪表、自动化控制、工程、交通、建筑等）"></el-option>
                                <el-option value="B" label="B.信息技术（包括计算机、电信、通讯、电子等）"></el-option>
                                <el-option value="C" label="C.数理（包括数学、物理、地球与空间科学等）"></el-option>
                                <el-option value="D" label="D.生命科学(包括生物､农学､药学､医学､健康､卫生､食品等)"></el-option>
                                <el-option value="E" label="E.能源化工（包括能源、材料、石油、化学、化工、生态、环保等）"></el-option>
                                <el-option value="F" label="F.哲学社会科学（包括哲学、经济、社会、法律、教育、管理）"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="modifyInfo">确认修改</el-button>
                            <el-button @click="resetForm">重置</el-button>
                        </el-form-item>
                    </el-form>
                    </el-col>
                    </el-row>
                </el-main>
            <!--            ! 学生或专家查看比赛（并参赛）-->
            <el-main v-if="sidebarIndex==1 &&role=='学生'" >
                <div v-for ="item in matchData">
                    <match-card v-bind:info="item"></match-card>
                </div>
            </el-main>

            <el-main v-if="sidebarIndex==1 &&role=='专家'" >
                <div v-for ="item in matchData">
                    <match-card v-bind:info="item"></match-card>
                </div>
            </el-main>

            <!-- 学生查看已提交申请-->
            <el-main v-if="sidebarIndex==2 && role=='学生'">
                <template>
                    <el-table
                            :data="stuApplyData"
                            style="width: 100%">
                        <el-table-column
                                prop="workName"
                                label="作品名称"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="category"
                                label="分类"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="appCategory"
                                label="申请类型"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="state"
                                label="作品状态"
                                wideth="180">
                        </el-table-column>
                        <el-table-column
                            label="操作"
                            wideth="180">
                            <template slot-scope="scope">
                                <el-button type="text" size="mini" @click="downloadPdf(scope.$index)">下载pdf</el-button>
                                <el-button type="text" size="mini">补充提交</el-button>
                            </template>
                    </el-table-column>


                    </el-table>
                </template>

            </el-main>
            <!-- 学生修改个人信息 -->
            <el-main v-if="sidebarIndex==3 && role=='学生'">
                <el-row :gutter="12" style="margin-top: 10px">
                    <el-col :offset="6" :span="12">
                        <el-form label-width="80px" class="demo-ruleForm">
                            <el-form-item label="用户名">
                                <el-input v-model="userInfo.username"></el-input>
                            </el-form-item>
                            <el-form-item label="真实姓名">
                                <el-input v-model="userInfo.name"></el-input>
                            </el-form-item>
                            <el-form-item label="个人信息">
                                <el-input type="textarea" v-model="userInfo.introduction"></el-input>
                            </el-form-item>
                            <el-form-item label="电话">
                                <el-input type="number" v-model="userInfo.phone"></el-input>
                            </el-form-item>
                            <el-form-item label="邮箱">
                                <el-input v-model="userInfo.email"></el-input>
                            </el-form-item>
                            <el-form-item label="院系">
                                <el-input v-model="userInfo.department"></el-input>
                            </el-form-item>
                            <el-form-item label="专业">
                                <el-input v-model="userInfo.major"></el-input>
                            </el-form-item>
                            <el-form-item label="入学年份">
                                <el-input type="number" v-model="userInfo.enrollmentYear"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="modifyInfo">确认修改</el-button>
                                <el-button @click="resetForm">重置</el-button>
                            </el-form-item>
                        </el-form>
                    </el-col>
                </el-row>
            </el-main>
                <!--团委管理比赛-->
            <el-main v-else-if="sidebarIndex==1 && role=='团委'">

            </el-main>

            <!-- 团委申请管理 -->
            <el-main v-else-if="sidebarIndex==3 && role=='团委'">
                <el-row :gutter="12" style="margin-top: 0px">
                        <el-col >
                            <el-button style="font-size: 14px" type="primary" plain @click="resetDateFilter">清除日期过滤器</el-button>
                            <el-button style="font-size: 14px" type="success" plain @click="resetStateFilter">清除状态过滤器</el-button>
                            <el-button style="font-size: 14px" type="warning" plain @click="resetMatchIdFilter">清除比赛ID过滤器</el-button>
                            <el-button style="font-size: 14px" type="danger" plain @click="clearFilter">清除所有过滤器</el-button>
                        </el-col>
                </el-row>
                    <el-row :gutter="12" style="margin-top: 10px">
                        <el-col  :span="24">
                        <el-table
                            ref="filterTable"
                            :data="twApplyData"
                            style="width: 100%">
                            <el-table-column
                            fixed
                            width="150"
                            prop="date"
                            label="日期"
                            sortable
                            column-key="date"
                            :filters="[{text: '2016-05-01', value: '2016-05-01'}, {text: '2016-05-02', value: '2016-05-02'}, {text: '2016-05-03', value: '2016-05-03'}, {text: '2016-05-04', value: '2016-05-04'}]"
                            :filter-method="filterHandler">
                            </el-table-column>
                            <el-table-column
                            width="100"
                            prop="name"
                            label="姓名"
                            >
                            </el-table-column>
                
                            <el-table-column
                            width="300"
                            prop="workName"
                            label="作品名称"
                            >
                            </el-table-column>
                
                            <el-table-column
                            width="150"
                            prop="department"
                            label="学院"
                            >
                            </el-table-column>
                
                            <el-table-column
                            width="150"
                            prop="phone"
                            label="联系电话"
                            >
                            </el-table-column>
                
                            <el-table-column
                            width="100"
                            prop="state"
                            label="状态"
                            
                            :filters="[{ text: '已提交', value: '已提交' }, { text: '正在初审', value: '正在初审' },{ text: '初审通过', value: '初审通过' },{ text: '初审未通过', value: '初审未通过' },{ text: '已分配专家', value: '已分配专家' },{ text: '专家评审中', value: '专家评审中' },{ text: '专家已评审', value: '专家已评审' }]"
                            :filter-method="filterState"
                            filter-placement="bottom-end">
                            <template slot-scope="scope">
                                {{scope.row.state}}
                            </template>
                            </el-table-column>
                
                
                            <el-table-column
                            width="100"
                            prop="matchId"
                            label="比赛ID"
                            
                            :filters="[{ text: '冯如杯', value: '冯如杯' }, { text: '软件创新大赛', value: '软件创新大赛' }]"
                            :filter-method="filterTag"
                            filter-placement="bottom-end">
                            <template slot-scope="scope">
                                {{scope.row.matchId}}
                            </template>
                            </el-table-column>
                
                            <el-table-column
                            label="操作"
                            fixed="right"
                            width="300"
                            >
                            <template slot-scope="scope">
                                <el-button style="font-size: 12px" type="primary" size="mini" @click="twDownloadApply(scope.$index)">下载申请</el-button>
                                <el-button style="font-size: 12px" type="success" size="mini" @click="twPassApply(scope.$index)">通过初审</el-button>
                                <el-button style="font-size: 12px" type="danger" size="mini" @click="twRefuseApply(scope.$index)">拒绝初审</el-button>
                            </el-table-column>
                            </template>
                        </el-table>
                    </el-col>
                    </el-row>
            </el-main>
        </el-container>
    </el-container>

</div>


</body>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: function() {
            return {

            };
        },
        methods:{

        },
    });
    Vue.component('match-card', {
        props: {
            info:Object
        },
        data: function(){
            console.log(this.info);
            return this.info;
        },
        methods: {
            joinMatch(id){
                localStorage.setItem("selMatch",id);
                window.open("apply.html");
            },
            downloadMatchDoc(url){
                const xhr = new XMLHttpRequest();
                xhr.responseType = "arraybuffer";
                xhr.open("GET", "http://58.87.72.138:30000/download?info=" + JSON.stringify({url:url}),true);
                xhr.onload = function(oEvent){
                    console.log("Blobing");
                    let res = xhr.response;
                    console.log(res);
                    var blob = new Blob([res],{type:"application/x-gzip"});
                    console.log(blob);
                    var str = URL.createObjectURL(blob);
                    window.open(str);
                };
                xhr.send();
            }
        },
        template: '<el-row :gutter="12">\n' +
            '            <el-col :offset="6" :span="12">\n' +
            '                <el-card class="box-card" shadow="hover">\n' +
            '                    <div slot="header" class="clearfix">\n' +
            '                        <span class="matchName">{{ info.name }}</span>\n' +
            '                        <el-button \n' +
            '                        icon="el-icon-position" \n' +
            '                        style="float: right; padding: 3px 0" \n' +
            '                        type="text" @click="joinMatch(info.id)">参加比赛</el-button>\n' +
            '                    </div>\n' +
            '                    <div class="text item">{{ "比赛简介： "+ info.introduction }}</div>\n' +
            '                    <div class="text item">{{ "开始时间： "+ info.joinTime }}</div>\n' +
            '                    <div class="text item">{{ "报名截止时间： "+ info.auditTime }}</div>\n' +
            '                    <div class="text item">{{ "团委初审结束时间： "+ info.scoreTime }}</div>\n' +
            '                    <div class="text item">{{ "专家评审结束时间： "+ info.endTime }}</div>\n' +
            '                    <el-button type="primary" plain @click="downloadMatchDoc(info.coverUrl)">下载附件</el-button>\n'+
            '                    <el-button type="success" plain>查看结果</el-button>\n'+
            '                </el-card>\n' +
            '            </el-col>\n' +
            '        </el-row>',
    });

    new Vue({
        el: '#main',
        data: function() {
            return {
                sidebarIndex : 1,
                matchData: null,
                userInfo: null,
                role: null,
                stuApplyData:null,
                twApplyData:null,


            }
        },
        created(){
            var _self=this;
            this.getUserInfo();
            switch(sessionStorage.getItem("role")){
                case '学生':
                    this.getStuApply();
                    this.getMatchData();
                    break;
                case '团委':
                    this.getTwApply();
                    this.getMatchData();
                    break;
                case '专家':
                    this.getMatchData();
                    break;
            }

        },
        methods: {
            //创建比赛
            deleteRow(index, rows) {
                rows.splice(index, 1);
            },
            /*edit(index,row){
              this.createCompetition=true;
              alert(row[index].endDate);
            },*/
            submitForm(formName) {
                let self=this;
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        var a={nameM:self.createCompetitionForm.name, matchTypeM:self.createCompetitionForm.matchType, startDateM:self.createCompetitionForm.startDate, endDateM:self.createCompetitionForm.endDate, introductionM:self.createRules.introduction, remove: false};
                        self.createData.push(a);
                        this.createCompetition=false;
                        this.$refs[formName].resetFields();
                        self.$message({
                            message:'比赛创建成功！',
                            type:'success'
                        });
                    } else {
                        alert('创建失败，请检查是否有漏填信息！');
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },
            submitUpload() {
                this.$refs.upload.submit();
            },
            beforeUpload(file) {
                var testmsg=file.name.substring(file.name.lastIndexOf('.')+1)
                const extension = testmsg === 'xls'
                const extension2 = testmsg === 'xlsx'
                const extension3 = testmsg === 'pdf'
                const isLt2M = file.size / 1024 / 1024 < 10     //这里做文件大小限制
                if(!extension && !extension2 && !extension3) {
                    this.$message({
                        message: '上传文件只能是 xls、xlsx、pdf格式!',
                        type: 'warning'
                    });
                }
                if(!isLt2M) {
                    this.$message({
                        message: '上传文件大小不能超过 10MB!',
                        type: 'warning'
                    });
                }
                return extension || extension2 && isLt2M
            },
            //其他方法
            downloadData(url){
                const xhr = new XMLHttpRequest();
                xhr.responseType = "arraybuffer";
                xhr.open("GET", "http://58.87.72.138:30000/download?info=" + JSON.stringify({url:url}),true);
                xhr.onload = function(oEvent){
                    console.log("Blobing");
                    let res = xhr.response;
                    console.log(res);
                    var blob = new Blob([res],{type:"application/x-gzip"});
                    console.log(blob);
                    var str = URL.createObjectURL(blob);
                    window.location.href=str;
                };
                xhr.send();
            },
            downloadPdf(index){
                var url = this.stuApplyData[index].pdfUrl;
                this.downloadData(url);
            },
            twSetSidebarIndex(index) {
                this.sidebarIndex = index;
                if(index == 3){
                    this.getTwApply();
                }
            },
            expertSetSidebarIndex(index) {
                this.sidebarIndex = index;
                if(index == 1){
                    this.getMatchData();
                }
            },
            twPassApply(index){
                var state = this.twApplyData[index].state;
                var _self=this;
                if(state == "正在初审" || state == "初审通过" || state == "初审未通过"){
                    $.ajax({
                    url: "http://58.87.72.138:30000/setApplicationState",
                    type: "get",
                    dataType: 'json',
                    contentType:"application/json",
                    data: {
                        info: JSON.stringify({ state: "accepted", applicationId: this.twApplyData[index].id }),
                    },
                    success: function(res){
                        console.log(res);
                        if(res.err == false){
                            _self.twApplyData[index].state = "初审通过";
                            _self.$message({
                                message: '修改申请状态成功',
                                type: 'success',
                                center: true
                            });
                        }
                        else{
                            _self.$message({
                                message: '修改申请状态失败',
                                type: 'error',
                                center: true
                            });
                        }

                    },
                    error: function(err){
                        console.log(err);
                    }

                })
                }
                else {
                    _self.$message({
                        message: '申请状态异常，无法进行通过初审操作',
                        type: 'error',
                        center: true
                    });
                }
            },
            twRefuseApply(index){
                var state = this.twApplyData[index].state;
                var _self=this;
                if(state == "正在初审" || state == "初审通过" || state == "初审未通过"){
                    $.ajax({
                    url: "http://58.87.72.138:30000/setApplicationState",
                    type: "get",
                    dataType: 'json',
                    contentType:"application/json",
                    data: {
                        info: JSON.stringify({ state: "refused", applicationId: this.twApplyData[index].id }),
                    },
                    success: function(res){
                        console.log(res);
                        if(res.err == false){
                            _self.twApplyData[index].state = "初审未通过";
                            _self.$message({
                                message: '修改申请状态成功',
                                type: 'success',
                                center: true
                            });
                        }
                        else{
                            _self.$message({
                                message: '修改申请状态失败',
                                type: 'error',
                                center: true
                            });
                        }

                    },
                    error: function(err){
                        console.log(err);
                    }

                })
                }
                else {
                    _self.$message({
                        message: '申请状态异常，无法进行通过初审操作',
                        type: 'error',
                        center: true
                    });
                }
            },
            twDownloadApply(index){
                var url=this.twApplyData[index].pdfUrl;
                this.downloadData(url);
            },
            getTwApply(){
                var _self=this;
                $.ajax({
                    url: "http://58.87.72.138:30000/getApplicationByState",
                    type: "get",
                    dataType: 'json',
                    contentType:"application/json",
                    data: {
                        info: JSON.stringify({state:null}),
                    },
                    success: function(res){
                        console.log(res);
                        if(res.err == false){
                            _self.twApplyData=res.data;
                            for(var i in _self.twApplyData){
                                switch (_self.twApplyData[i].state) {
                                    case 'submitted':
                                        _self.twApplyData[i].state='已提交';
                                        break;
                                    case 'auditing':
                                        _self.twApplyData[i].state='正在初审';
                                        break;
                                    case 'accepted':
                                        _self.twApplyData[i].state='初审通过';
                                        break;
                                    case 'refused':
                                        _self.twApplyData[i].state='初审未通过';
                                        break;
                                    case 'assigned':
                                        _self.twApplyData[i].state='已分配专家';
                                        break;
                                    case 'scoring':
                                        _self.twApplyData[i].state='专家评审中';
                                        break;
                                    case 'scored':
                                        _self.twApplyData[i].state='专家已评审';
                                        break;
                                }
                            }

                            _self.$message({
                                message: '获取申请成功',
                                type: 'success',
                                center: true
                            });
                        }
                        else{
                            _self.$message({
                                message: '获取申请失败',
                                type: 'error',
                                center: true
                            });
                        }
                    },
                    error: function(err){
                        console.log(err);
                    }

                })
            },
            getStuApply(){
                var _self=this;
                var info = {
                    studentNumber: sessionStorage.getItem("studentNumber"),
                };
                console.log(sessionStorage.getItem("studentNumber"));
                $.ajax({
                    url: "http://58.87.72.138:30000/studentGetApplication",
                    type: "get",
                    dataType: 'json',
                    contentType:"application/json",
                    data: {
                        info: JSON.stringify(info),
                    },
                    success: function(res){
                        console.log(res);
                        if(res.err == false){
                            _self.stuApplyData=res.data;
                            for(var i in _self.stuApplyData){
                                switch (_self.stuApplyData[i].state) {
                                    case 'submitted':
                                        _self.stuApplyData[i].state='已提交';
                                        break;
                                    case 'auditing':
                                        _self.stuApplyData[i].state='正在初审';
                                        break;
                                    case 'accepted':
                                        _self.stuApplyData[i].state='初审通过';
                                        break;
                                    case 'refused':
                                        _self.stuApplyData[i].state='初审未通过';
                                        break;
                                    case 'assigned':
                                        _self.stuApplyData[i].state='已分配专家';
                                        break;
                                    case 'scoring':
                                        _self.stuApplyData[i].state='专家评审中';
                                        break;
                                    case 'scored':
                                        _self.stuApplyData[i].state='专家已评审';
                                        break;
                                }
                            }

                            _self.$message({
                                message: '获取申请成功',
                                type: 'success',
                                center: true
                            });
                        }
                        else{
                            _self.$message({
                                message: '获取申请失败',
                                type: 'error',
                                center: true
                            });
                        }

                    },
                    error: function(err){
                        console.log(err);
                    }

                })
            },

            getMatchData(){
                var _self=this;
                $.ajax({
                    url: "http://58.87.72.138:30000/getMatch",
                    type: "get",
                    dataType: 'json',
                    contentType:"application/json",
                    success: function(res){
                        console.log(res);
                        if(res.err == false){
                            _self.matchData=res.data;
                            console.log(res.data);
                            console.log(_self.matchData);

                            _self.$message({
                                message: '获取比赛成功',
                                type: 'success',
                                center: true
                            });
                        }
                        else{
                            _self.$message({
                                message: '获取比赛失败',
                                type: 'error',
                                center: true
                            });
                        }

                    },
                    error: function(err){
                        console.log(err);
                    }

                })

            },
            stuSetSidebarIndex(index) {
                this.sidebarIndex = index;
            },
            getUserInfo() {
                this.role = sessionStorage.getItem("role");
                switch (this.role) {
                    case "学生":
                        this.userInfo = {
                            studentNumber: sessionStorage.getItem('studentNumber'),
                            username: sessionStorage.getItem("username"),
                            name: sessionStorage.getItem('name'),
                            introduction: sessionStorage.getItem('introduction'),
                            profileUrl: sessionStorage.getItem('profileUrl'),
                            phone: sessionStorage.getItem('phone'),
                            email: sessionStorage.getItem('email'),
                            department: sessionStorage.getItem('department'),
                            major: sessionStorage.getItem('major'),
                            enrollmentYear: sessionStorage.getItem('enrollmentYear')
                        };
                        break;
                    case "专家":
                        this.userInfo = {
                            username: sessionStorage.getItem("username"),
                            name: sessionStorage.getItem('name'),
                            introduction: sessionStorage.getItem('introduction'),
                            profileUrl: sessionStorage.getItem('profileUrl'),
                            phone: sessionStorage.getItem('phone'),
                            email: sessionStorage.getItem('email'),
                            category: sessionStorage.getItem('category')
                        };
                        break;
                    case "团委":
                        this.userInfo = {
                            username: sessionStorage.getItem("username"),
                        };
                        break;
                }
            },
            modifyInfo() {
                var _self = this;
                switch (this.role) {
                    case "学生":
                        $.ajax({
                            url: "http://58.87.72.138:30000/studentModifyInfo",
                            type: "get",
                            dataType: 'json',
                            contentType:"application/json",
                            data: { info: JSON.stringify(this.userInfo), },
                            success: function(res){
                                console.log(res);
                                if(res.err == false){
                                    sessionStorage.setItem('username',_self.userInfo.username);
                                    sessionStorage.setItem('name',_self.userInfo.name);
                                    sessionStorage.setItem('introduction',_self.userInfo.introduction);
                                    sessionStorage.setItem('profileUrl',_self.userInfo.profileUrl);
                                    sessionStorage.setItem('phone',_self.userInfo.phone);
                                    sessionStorage.setItem('email',_self.userInfo.email);
                                    sessionStorage.setItem('department',_self.userInfo.department);
                                    sessionStorage.setItem('major',_self.userInfo.major);
                                    sessionStorage.setItem('enrollmentYear',_self.userInfo.enrollmentYear);

                                    _self.$message({
                                        message: '修改成功',
                                        type: 'success',
                                        center: true
                                    });
                                    setTimeout(() => { window.location.href="main.html"; }, 1000);
                                }
                                else{
                                    _self.$message({
                                        message: '修改失败',
                                        type: 'error',
                                        center: true
                                    });
                                }
                            },
                            error: err => { console.log(err); }
                        })
                    break;
                    case "专家":
                        $.ajax({
                            url: "http://58.87.72.138:30000/expertModifyInfo",
                            type: "get",
                            dataType: 'json',
                            contentType:"application/json",
                            data: { info: JSON.stringify(this.userInfo), },
                            success: function(res){
                                console.log(res);
                                if(res.err == false){
                                    sessionStorage.setItem('username',_self.userInfo.username);
                                    sessionStorage.setItem('name',_self.userInfo.name);
                                    sessionStorage.setItem('introduction',_self.userInfo.introduction);
                                    sessionStorage.setItem('profileUrl',_self.userInfo.profileUrl);
                                    sessionStorage.setItem('phone',_self.userInfo.phone);
                                    sessionStorage.setItem('email',_self.userInfo.email);
                                    sessionStorage.setItem('category',_self.userInfo.category);

                                    _self.$message({
                                        message: '修改成功',
                                        type: 'success',
                                        center: true
                                    });
                                    setTimeout(() => { window.location.href="main.html"; }, 1000);
                                }
                                else{
                                    _self.$message({
                                        message: '修改失败',
                                        type: 'error',
                                        center: true
                                    });
                                }
                            },
                            error: err => { console.log(err); }
                        })
                    break;
                }
            },
            resetDateFilter() {
                this.$refs.filterTable.clearFilter('date');
            },
            resetStateFilter() {
                this.$refs.filterTable.clearFilter('state');
            },
            resetMatchIdFilter() {
                this.$refs.filterTable.clearFilter('matchId');
            }, 
            clearFilter() {
                this.$refs.filterTable.clearFilter();
            },
            formatter(row, column) {
                return row.address;
            },
            filterTag(value, row) {
                return row.tag === value;
            },
            filterState(value, row) {
                return row.state === value;
            },
            filterHandler(value, row, column) {
                const property = column['property'];
                return row[property] === value;
            }
        }
    })
</script>
</html>