<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<!-- import CSS -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<!-- import Vue before Element -->
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<!-- import JavaScript -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<!-- import JQuery -->
	<script src="https://cdn.staticfile.org/jquery/3.1.1/jquery.min.js"></script>
</head>


<body>
<div id="app">
      <el-table :data="auditData" border empty-text="您没有待评审作品">
        <el-table-column width="45" type="selection" align="center"></el-table-column>
        <el-table-column label="序号" width="90"  align="center" prop="id"></el-table-column>
        <el-table-column label="作品名称" width="400" prop="workName" align="center"></el-table-column>
        <el-table-column label="第一作者" width="180" prop="name" align="center"></el-table-column>

        <el-table-column label="预览操作" align="center" width="240" >
          <template slot-scope="scope">
            <el-button type="primary" size="mini">图片</el-button>
            <el-button type="primary" size="mini">文件</el-button>
            <el-button type="primary" size="mini">视频</el-button>
          </template>
        </el-table-column>
        <el-table-column label="下载" align="center" width="108">
            <template slot-scope="scope">
              <el-button type="primary" size="mini" @click="download(scope.row)">下载<i class="el-icon-download"></i></el-button>
            </template>
          </el-table-column>
        <el-table-column label="得分" width="150" prop="score" align="center">
          <template slot-scope="scope">
            <el-input placeholder="请在此处评分"  v-model.number="scope.row.score" suffix-icon="el-icon-edit"  ></el-input>
          </template>
        </el-table-column>
        <el-table-column label="评语" width="210" prop="comment" align="center">
            <template slot-scope="scope">
              <el-button type="primary" size="mini" icon="el-icon-edit" @click="editCom(scope.row)" >填写评语</el-button>
              <el-button type="text" size="mini" icon="el-icon-search" @click="viewCom(scope.row)" >查看评语</el-button>
            </template>
        </el-table-column>
      </el-table>

      <el-button type="primary" @click="tablePost">一键提交</el-button>
	  
	  
      <el-dialog title="评语填写" :visible.sync="editComment" :close-on-click-modal="false">
        <el-form :model="editForm" label-position="top" label-width="80px" ref="editForm">
          <el-form-item label="填写评论" prop="comment"
          :rules="{required:true, message:'评论不能为空！',trigger:'blur'}" >
            <el-input type="textarea"  v-model="editForm.comment"></el-input>
          </el-form-item>
          <el-button type="primary" @click="handleComment('editForm')" >确定</el-button>
        </el-form>
      </el-dialog>

      <el-dialog title="评语查看" :visible.sync="viewComment" :close-on-click-modal="false">
        {{this.comment}}
      </el-dialog>
  </div>
</body>



<script>
new Vue({
    el: '#app',
    data: function() {
    return { 
        expertId: 2,
        id: 0,
        visible: false,
        editComment:false,
        viewComment:false,
        auditData:[],
        currEdit : 0,
        tempRow:'',
        editForm: {
          comment: '',
        },
		    info:{"expertId":"2","state":null},
        comment: '',
        updata:{},
    }
  },
	mounted: function(){
		this.get();
	}, 
  methods:{
    editCom(row){
      this.editComment=true;
      this.tempRow = row.id - 1;
    },
    viewCom(row){
      this.viewComment=true;
      this.tempRow = row.id - 1;
      //console.log(this.auditData[this.tempRow].comment);
      this.comment = this.auditData[this.tempRow].comment;
    },
    handleComment(formName){
      this.$refs[formName].validate((valid) => {
        if(valid){
          var self=this;
          
          self.auditData[self.tempRow].comment = self.editForm.comment;
          self.editForm.comment  = '';
          //console.log(self.auditData[self.tempRow].comment);
          this.editComment=false;
          self.$message({
              message:'评论成功！',
              type:'success'
          });
        }else{
          alert('请您填写评语！');
          return false;
        }
      });
    },
    download(row){
      console.log(row);
      var url = '';
      if(row.pictureUrl !== null && row.pictureUrl !== undefined && row.pictureUrl !== '' && row.pictureUrl !== 'null'){
        url += row.pictureUrl + ';';
      }
      if(row.documentUrl !== null && row.documentUrl !== undefined && row.documentUrl !== '' && row.documentUrl !== 'null'){
        url += row.documentUrl + ';';
      }
      if(row.pdfUrl !== null && row.pdfUrl !== undefined && row.pdfUrl !== '' && row.pdfUrl !== 'null'){
        url += row.pdfUrl + ';';
      }
      if(row.videoUrl !== null && row.videoUrl !== undefined && row.videoUrl !== '' && row.videoUrl !== 'null'){
        url += row.videoUrl + ';';
      }
	  
	  url = url.substring(0, url.length - 1);
      console.log("url         " + url);
	  var info= {"url": url};
	  
		const xhr = new XMLHttpRequest();
		xhr.responseType = "arraybuffer";
		var data = JSON.stringify(info);
		console.log(data);
		xhr.open("GET", "http://58.87.72.138:30000/download?info=" + JSON.stringify(info),true);
		
		xhr.onload = function(oEvent){
			console.log("Blobing");
			let res = xhr.response;
			console.log(res);
			var blob = new Blob([res],{type:"application/x-gzip"});
			console.log(blob);
			
			var str = URL.createObjectURL(blob);
			console.log(str);
			window.location.href = str;
			//window.open(str);
		};
		xhr.send();
    },
    get(){
      var _self = this;
      $.ajax({
        url: "http://58.87.72.138:30000/expertGetApplicationByAssessmentState",
        type: "get",
        dataType: 'json',
        contentType:"application/json",
        data:{
          info: JSON.stringify(_self.info),
        },
        success: function(res){
          console.log(res);
          data = res.data;
          var count = 1;
          for(item in data){
            var ap = {
              id: count,
              workName: data[item].workName,
              name: data[item].name,
              score: '0',
              comment:'',
              pdfUrl: data[item].pdfUrl,
              pictureUrl: data[item].imageUrl,
              documentUrl: data[item].documentUrl,
              videoUrl: data[item].documentUrl,
              applicationId: data[item].id,
            }
            //console.log(ap);
            _self.auditData.push(ap);
            count += 1;
          }
        },
        error: function(err){
          console.log(err);
        }
      })
    },
    tablePost(){
      var _self = this;
      console.log(this.auditData);
      for(item in this.auditData){
        var ap = {
          expertId: this.expertId.toString(),
          applicationId: this.auditData[item].applicationId.toString(),
          score: this.auditData[item].score,
          comment:this.auditData[item].comment,
        };
        console.log(JSON.stringify(ap));
        $.ajax({
          url: "http://58.87.72.138:30000/expertSetAssessment",
          type: "get",
          dataType: 'json',
          contentType:"application/json",
          data:{
            info: JSON.stringify(ap),
          },
          success: function(res){
            console.log(res);
          },
          error: function(err){
            console.log(err);
          }
        })
        return; 
      }
      
      console.log(this.auditData);
    }
	}
})
</script>
</html>